  .padding-team {
    padding : 0 15px;
  }

  h3{
    font-weight: normal;
  }

  .flag-team {
    margin : 0 15px;
    border-style: solid;
    border-width: 1px;
    border-color: lightslategrey 
  }

  .score-team {
      font-size: 3em;
      padding: 0 15px;
      font-weight: bold;
  }

  .pronostics-100 {
    width: 100%;
  }

  .pronostics-75 {
    width: 75%;
  }

  .score-team-mini {
    padding: 0 5px;
    font-weight: bold;
}

  .score {
      font-size: 3em;
      padding: 0 15px;
      font-weight: bold;
  }

  .score-mini {
    padding: 0 5px;
    font-weight: bold;
  }

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom:0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  }

  .success-true {
      color: green;
      font-weight: bold;
  }

  .success-false {
    color: red;
    font-weight: bold;
  }

  .h2-prono {
    padding-top: 15px;
    font-weight: normal;
  }

  .victory-graph{
    height: 20px;
    margin: 5px 0;
  }

  .victory1{
    background:rgb(229, 57, 53);
  }
  .victory2{
    background:rgb(30, 136, 229);
  }

  .draw{
    background: rgb(189, 189, 189);
  }

  .score0{
    background:rgb(229, 57, 53);
  }
  .score1{
    background: rgb(255, 179, 0);
  }
  .score2{
    background: rgb(0, 172, 193);
  }
  .score4{
    background: rgb(67, 160, 71);
  }
  .stat-text{
    text-align: center;
  }
  .text-score0{
    color:rgb(229, 57, 53);
    font-weight: bold;
  }
  .text-score1{
    color: rgb(255, 179, 0);
    font-weight: bold;
  }
  .text-score2{
    color: rgb(0, 172, 193);
    font-weight: bold;
  }
  .text-score4{
    color: rgb(67, 160, 71);
    font-weight: bold;
  }

  .team1-mini{
    height: 20px;
    width: 20px;
    background: rgb(229, 57, 53);
  }
  .team2-mini{
    height: 20px;
    width: 20px;
    background:rgb(30, 136, 229);
  }
  .draw-mini{
    height: 20px;
    width: 20px;
    background: rgb(189, 189, 189);
  }
  .score0-mini{
    height: 20px;
    width: 20px;
    background: rgb(229, 57, 53);
  }
  .score1-mini{
    height: 20px;
    width: 20px;
    background: rgb(255, 179, 0);
  }
  .score2-mini{
    height: 20px;
    width: 20px;
    background: rgb(0, 172, 193);
  }
  .score4-mini{
    height: 20px;
    width: 20px;
    background: rgb(67, 160, 71);
  }
  .legend{
    margin: 10px;
  }
  