  .padding-team {
    padding : 0 15px;
  }

  .flag-team {
    margin : 0 15px;
    border-style: solid;
    border-width: 1px;
    border-color: lightslategrey 
  }
  .match-container {
    margin-left: auto;
    margin-right: auto;
  }

  .score-team {
      font-size: 3em;
      padding: 0 15px;
      font-weight: bold;
  }

  .score-team-mini {
    padding: 0 5px;
    font-weight: bold;
}

  .score {
      font-size: 3em;
      padding: 0 15px;
      font-weight: bold;
  }

  .score-mini {
    padding: 0 5px;
    font-weight: bold;
  }

  .mat-table {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    max-height: 100vh;
  }

  .success-true {
      color: green;
      font-weight: bold;
  }

  .success-false {
    color: red;
    font-weight: bold;
  }

  .h2-prono {
    padding-top: 15px;
    font-weight: normal;
  }