<mat-card>
  <mat-card-title>
    <span>Rules</span>
  </mat-card-title>
  <mat-list>
    <h1 mat-subheader>Présentation</h1>
    <mat-list-item class="height">
      World Cap Bet est une application de pronostics ouverte à tous, gratuitement. (Dans la limite d'un seul compte par personne, évidemment)
    </mat-list-item>
    <mat-list-item class="height">
      Le but est de pronostiquer le vainqueur et le score de chacun des matchs de la Coupe du Monde 2018. Un classement sera calculé en fonction des points obtenus (voir plus loin le calcul des points).
      Le vainqueur sera celui qui totalise le plus de points.
    </mat-list-item>
    <mat-divider></mat-divider>
    <h1 mat-subheader>Pronostics et calcul des points</h1>
    <mat-list-item class="height">
      Les pronostics pour un match sont possibles et modifiables jusqu'à l'heure du coup d'envoi. Passée cette heure, il vous sera impossible de rentrer un pronostic.
    </mat-list-item>
    <mat-list-item class="height">
      Vos pronostics sont ensuite comparés aux résultats réels, pour calculer votre score. Pour tous les matchs (matchs de poule et matchs à élimination directe) le résultat du match utilisé est celui à la fin du temps de jeu.
      C'est-à-dire à la fin du temps réglementaire pour les matchs de poules, et à la fin des prolongations si prolongations il y a. Les tirs au but ne sont pas pris en compte. Il est ainsi possible de pronostiquer un match nul en demi-finale.
    </mat-list-item>
    <mat-list-item class="height">
      Pour les matchs de poules, comme pour les matchs à élimination directe (Huitième de finale, quart de finale ...), il y a 3 résultats possibles pour un match : victoire de l'équipe 1, match nul, victoire de l'équipe 2.
      Vous n'obtenez des points que si votre résultat est identique à celui du match.
    </mat-list-item>
    <mat-list-item class="height">
      Vous marquez ensuite des points selon la règle suivante. 1 point si vous trouvez uniquement le bon résultat. 2 points si vous avez à la fois le bon résultat et la bonne différence de buts. Et enfin 4 points si vous pronostiquez le score exact du match. Pour tout autre pronostic vous ne marquez pas de point.
    </mat-list-item>
    <mat-list-item class="height">
      Prenons en exemple le match France - Irlande (2-0). Pour un pronostic donnant match nul ou victoire de l'Irlande, vous ne marquez pas de point. Pour un pronostique de 1-0, vous marquez 1 point. Si vous aviez pronostiqué 3-1, vous marquez 2 point. Et enfin si vous aviez le bon score, 2-0, vous marquez 4 points.
    </mat-list-item>
    <mat-divider></mat-divider>
    <h1 mat-subheader>En cas d'égalité au classement</h1>
    <mat-list-item class="height">
      En cas d'égalité de points entre plusieurs joueurs à la fin de la compétition, c'est le nombre de résultats exacts qui importe, puis le nombre de résultats avec la bonne différence de but.
    </mat-list-item>
    <mat-list-item class="height">
      Si même après ça il y a encore égalité, les matchs les plus avancés permettront de départager les égalités. Concrètement, entre les joueurs à égalité celui qui sera designé devant sera celui ayant le plus de points marqués pour le pronostic de la finale. S'il y a toujours une égalité, nous prendrons les points marqués sur les demi-finales... Ainsi de suite.
    </mat-list-item>
  </mat-list>
</mat-card>
