<app-charts></app-charts>

<div fxLayoutAlign="center center" class="margin-top">
    <mat-card class="margin-top" *ngIf="chart?.length > 0 || isLoadingResults">
      <mat-card-title class="header">
        <span>Scores</span>
      </mat-card-title>
      <mat-card-content>
        <div class="charts-loading-shade" *ngIf="isLoadingResults">
          <mat-spinner></mat-spinner>
        </div>
        <ngx-charts-bar-vertical
              [view]="view"
              [scheme]="colorScheme"
              [results]="chart"
              [gradient]="gradient"
              [xAxis]="showXAxis"
              [yAxis]="showYAxis"
              [legend]="showLegend"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel">
        </ngx-charts-bar-vertical>
      </mat-card-content>
    </mat-card>
  </div>