<mat-card>
  <mat-card-title class="header">
    <span>Matches</span>
    <a mat-raised-button color="primary" [routerLink]="['/admin/match/create']">New Match</a>
    <mat-slide-toggle color="primary" [checked]="isFilterOn" (change)="changeFilter()">
      Only not played
    </mat-slide-toggle>
  </mat-card-title>
</mat-card>



<div class="matches-container mat-elevation-z8">
  <div class="matches-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>
  <mat-table [dataSource]="dataSource" matSort matSortActive="date" matSortDisableClear matSortDirection="asc">

    <!-- Date -->
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef mat-sort-header fxLayout="row" fxLayoutAlign="center center"> Date </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span fxHide.lt-md="true">{{row.date | date:'d MMMM y HH:mm' }}</span>
        <span fxHide.gt-sm="true">{{row.date | date:'dd/MM' }}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="type">
        <mat-header-cell fxFlex="10%" *matHeaderCellDef mat-sort-header fxLayout="row" fxLayoutAlign="center center"> Title </mat-header-cell>
        <mat-cell fxFlex="10%" *matCellDef="let row" fxLayoutAlign="center center">
          {{getMatchType(row)}}
        </mat-cell>
      </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="team1">
      <mat-header-cell *matHeaderCellDef mat-sort-header fxLayout="row" fxLayoutAlign="center center"> Team 1 </mat-header-cell>
      <mat-cell *matCellDef="let row" fxLayout="row" fxLayoutAlign="end center">
          <span class="padding-team" fxHide.lt-md="true">{{row.team1.name}}</span>
          <img class="flag-mini" width="30" height="20" src="{{baseHrefForImages}}assets/flags-mini/{{row.team1.flag}}.png" [title]="row.team1.name">
      </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="team2">
      <mat-header-cell *matHeaderCellDef mat-sort-header fxLayout="row" fxLayoutAlign="center center"> Team 2 </mat-header-cell>
      <mat-cell *matCellDef="let row" fxLayout="row" fxLayoutAlign="start center">
          <img class="flag-mini"  width="30" height="20" src="{{baseHrefForImages}}assets/flags-mini/{{row.team2.flag}}.png" [title]="row.team2.name">
          <span class="padding-team" fxHide.lt-md="true">{{row.team2.name}}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="score">
      <mat-header-cell *matHeaderCellDef fxLayout="row" fxLayoutAlign="center center"> Score </mat-header-cell>
      <mat-cell *matCellDef="let row" fxLayout="row" fxLayoutAlign="center center">
        <span *ngIf="isMatchScore(row)">{{row.scoreTeam1}} - {{row.scoreTeam2}}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef fxLayout="row" fxLayoutAlign="center center"> Action </mat-header-cell>
      <mat-cell *matCellDef="let row" fxLayout="row" fxLayoutAlign="center center">
        <button mat-icon-button color="primary" (click)="edit(row)" title="Edit">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="delete(row)" title="Delete">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
