<div class="full-container">
  <div class="login-container" fxFlex="33" fxFlex.lt-sm="75">
    <mat-card class="login-card">
      <mat-card-title>Login</mat-card-title>

      <mat-form-field>
        <input type="text" matInput [(ngModel)]="model.username" placeholder="Username" cdkFocusInitial>
      </mat-form-field>

      <mat-form-field>
        <input type="password" matInput [(ngModel)]="model.password" placeholder="Password">
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="login()">Login</button>
      <a mat-button [routerLink]="['/register']">Register</a>

    </mat-card>
  </div>
</div>
