<div class="full-container">
  <div class="width-33"></div>
  <div class="login-container width-33">
    <h1>Login</h1>
    <mat-form-field>
      <input type="text" matInput [(ngModel)]="model.username" placeholder="Username">
    </mat-form-field>

    <mat-form-field>
      <input type="password" matInput [(ngModel)]="model.password" placeholder="Password">
    </mat-form-field>

    <div class="button-row">
      <button mat-button (click)="login()">Login</button>
      <a mat-button [routerLink]="['/register']">Register</a>
    </div>
  </div>
  <div class="width-33"></div>
</div>

<!--<div class="row justify-content-center">
  <div class="col-4">
    <alert></alert>
    <h2>Login</h2>
    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" [ngClass]="{ 'is-invalid': f.submitted && !username.valid }" name="username" [(ngModel)]="model.username" #username="ngModel" required />
            <div *ngIf="f.submitted && !username.valid" class="invalid-feedback">Username is required</div>
        </div>
        <div class="form-group" >
            <label for="password">Password</label>
            <input type="password" class="form-control" [ngClass]="{ 'is-invalid': f.submitted && !password.valid }"name="password" [(ngModel)]="model.password" #password="ngModel" required />
            <div *ngIf="f.submitted && !password.valid" class="invalid-feedback">Password is required</div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">Login</button>
            <a [routerLink]="['/register']" class="btn btn-link">Register</a>
        </div>
    </form>
  </div>
</div>
-->
