<app-matches-view>
</app-matches-view>

<div>
    <div fxLayout="row" fxLayoutAlign="space-around center">
        <div fxFlex fxFlexAlign="stretch" fxLayout="column" fxLayoutAlign="space-evenly center" fxLayoutGap="5px">
            <app-knockout-match></app-knockout-match>
            <app-knockout-match></app-knockout-match>
            <app-knockout-match></app-knockout-match>
            <app-knockout-match></app-knockout-match>
            <app-knockout-match></app-knockout-match>
            <app-knockout-match></app-knockout-match>
            <app-knockout-match></app-knockout-match>
            <app-knockout-match></app-knockout-match>
        </div>
        <div fxFlex fxFlexAlign="stretch" fxLayout="column" fxLayoutAlign="space-evenly center" fxLayoutGap="5px">
            <app-knockout-match></app-knockout-match>
            <app-knockout-match></app-knockout-match>
            <app-knockout-match></app-knockout-match>
            <app-knockout-match></app-knockout-match>
        </div>
        <div fxFlex fxFlexAlign="stretch" fxLayout="column" fxLayoutAlign="space-evenly center" fxLayoutGap="5px">
            <app-knockout-match></app-knockout-match>
            <app-knockout-match></app-knockout-match>
        </div>
        <div fxFlex fxFlexAlign="stretch" fxLayout="column" fxLayoutAlign="space-evenly center" fxLayoutGap="5px">
            <app-knockout-match></app-knockout-match>
            
        </div>
      </div>
</div>




