<h2>Matches</h2>

<table class="table table-striped table-hover table-sm ">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Team 1</th>
      <th scope="col">Team 2</th>
      <th scope="col">Pronostic</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let match of matches">
      <td>{{match.date | date:'dd/MM/yyyy HH:mm'}}</td>
      <td>{{match.team1}}</td>
      <td>{{match.team2}}</td>
      <td>{{match.pronostic.scoreTeam1}} - {{match.pronostic.scoreTeam2}}</td>
      <td>
        <button class="btn" (click)="openBetModal(match)" [disabled]="isMatchAlreadyPlayed(match)">Bet</button>
        <button class="btn" *ngIf="authenticationService.isAdmin()" (click)="delete(match)">Anti Filou</button>
      </td>
    </tr>
  </tbody>
</table>
