<div class="matches-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>

<div class="matches-container mat-elevation-z8">
  <div class="matches-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>
  <mat-table [dataSource]="dataSource" matSort matSortActive="date" matSortDisableClear matSortDirection="asc">

    <!-- Date -->
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.date | date:'dd/MM/yyyy HH:mm' }} </mat-cell>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="team1">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Team 1 </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.team1}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="team2">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Team 2 </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.team2}} </mat-cell>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="pronostic">
      <mat-header-cell *matHeaderCellDef> Pronostic </mat-header-cell>
      <mat-cell *matCellDef="let row" [style.color]="row.color">
        <span *ngIf="isPronostic(row)">{{row.pronostic.scoreTeam1}} - {{row.pronostic.scoreTeam2}}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="score">
      <mat-header-cell *matHeaderCellDef> Score </mat-header-cell>
      <mat-cell *matCellDef="let row" [style.color]="row.color">
        <span *ngIf="isMatchScore(row)">{{row.scoreTeam1}} - {{row.scoreTeam2}}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
      <mat-cell *matCellDef="let row" [style.color]="row.color">
        <button mat-button (click)="openDialog(row)" [disabled]="isMatchAlreadyPlayed(row)">Bet</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <!--<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>-->
</div>
<!--
<table class="table table-striped table-hover table-sm ">
  <thead>
    <tr class="d-flex">
      <th scope="col" class="col text-center">Date</th>
      <th scope="col" class="col-3 text-center">Team 1</th>
      <th scope="col" class="col-3 text-center">Team 2</th>
      <th scope="col" class="col-1 text-center">Pronostic</th>
      <th scope="col" class="col-1 text-center">Real score</th>
      <th scope="col" class="col-1 text-center">Points</th>
      <th scope="col" class="col text-center">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let match of matches" class="d-flex">
      <td class="col">{{match.date | date:'dd/MM/yyyy HH:mm'}}</td>
      <td class="col-3">{{match.team1}}</td>
      <td class="col-3">{{match.team2}}</td>
      <td class="col-1 text-center text-nowrap">
        <span *ngIf="isPronostic(match)">{{match.pronostic.scoreTeam1}} - {{match.pronostic.scoreTeam2}}</span>
      </td>
      <td class="col-1 text-center text-nowrap">
        <span *ngIf="isMatchScore(match)">{{match.scoreTeam1}} - {{match.scoreTeam2}}</span>
      </td>
      <td class="col-1 text-center text-nowrap">
        <span *ngIf="match.scoreTeam1 != null && match.scoreTeam2">{{match.pronostic.scoring}} - {{match.scoreTeam2}}</span>
      </td>
      <td class="col text-center">
        <button class="btn btn-sm" (click)="openBetModal(match)" [disabled]="isMatchAlreadyPlayed(match)">Bet</button>
        <button class="btn btn-sm" *ngIf="authenticationService.isAdmin()" (click)="delete(match)">Anti Filou</button>
      </td>
    </tr>
  </tbody>
</table>
-->
