<h2>Matches</h2>

<table class="table table-striped table-hover table-sm ">
  <thead>
    <tr class="d-flex">
      <th scope="col" class="col text-center">Date</th>
      <th scope="col" class="col-3 text-center">Team 1</th>
      <th scope="col" class="col-3 text-center">Team 2</th>
      <th scope="col" class="col-1 text-center">Pronostic</th>
      <th scope="col" class="col-1 text-center">Real score</th>
      <th scope="col" class="col text-center">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let match of matches" class="d-flex">
      <td class="col">{{match.date | date:'dd/MM/yyyy HH:mm'}}</td>
      <td class="col-3">{{match.team1}}</td>
      <td class="col-3">{{match.team2}}</td>
      <td class="col-1 text-center">
        <span *ngIf="match.pronostic.scoreTeam1 != null && match.pronostic.scoreTeam2 != null">{{match.pronostic.scoreTeam1}} - {{match.pronostic.scoreTeam2}}</span>
      </td>
      <td class="col-1 text-center">
        <span *ngIf="match.scoreTeam1 != null && match.scoreTeam2">{{match.scoreTeam1}} - {{match.scoreTeam2}}</span>
      </td>
      <td class="col text-center">
        <button class="btn btn-sm" (click)="openBetModal(match)" [disabled]="isMatchAlreadyPlayed(match)">Bet</button>
        <button class="btn btn-sm" *ngIf="authenticationService.isAdmin()" (click)="delete(match)">Anti Filou</button>
      </td>
    </tr>
  </tbody>
</table>
