.header {
  display: flex;
  justify-content: space-between;
}

.matches-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  min-height: 200px;
  position: relative;
}

.matches-header {
  min-height: 64px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 20px;
}

.matches-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom:0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 100vh;
}

.flag-mini{
  margin : 0 15px;
  border-style: solid;
  border-width: 1px;
  border-color: gainsboro;
}
.padding-team {
  padding : 0 15px;
}
