.match-container, .match-form {
  display: flex;
  flex-direction: column;
}

.full-container {
  display: flex;
  justify-content: center;
}

.match-card {
  display: flex;
  flex-direction: column;
}

.cursor-pointer {
  cursor: pointer;
}
