<div class="full-container">
  <div class="match-container" fxFlex="33" fxFlex.lt-sm="75">
    <mat-card class="match-card">
      <mat-card-title>Match</mat-card-title>
      <form class="match-form" [formGroup]="matchForm" novalidate>
        <mat-form-field>
          <input matInput [owlDateTimeTrigger]="dt" [owlDateTime]="dt" [(ngModel)]="match.date" formControlName="date"  placeholder="Date" required>
          <mat-icon class="cursor-pointer" matSuffix  [owlDateTimeTrigger]="dt">date_range</mat-icon>
          <owl-date-time #dt></owl-date-time>
        </mat-form-field>

        <mat-form-field>
          <input type="text" name="team1" matInput formControlName="team1" [(ngModel)]="match.team1" [matAutocomplete]="auto" placeholder="Team 1" required>
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let team1 of filteredTeams1 | async" [value]="team1">
              {{ team1.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field>
          <input type="text" name="team2" matInput formControlName="team2" [(ngModel)]="match.team2" [matAutocomplete]="auto" placeholder="Team 2" required>
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let team2 of filteredTeams2 | async" [value]="team2">
              {{ team2.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field>
          <input type="number" name="scoreTeam1" matInput [(ngModel)]="match.scoreTeam1" formControlName="scoreTeam1" placeholder="Score Team 1">
          <mat-error *ngIf="matchForm.controls['scoreTeam1'].errors">You must enter a value</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input type="number" name="scoreTeam2" matInput [(ngModel)]="match.scoreTeam2" formControlName="scoreTeam2" placeholder="Score Team 2">
          <mat-error *ngIf="matchForm.controls['scoreTeam2'].errors">You must enter a value</mat-error>
        </mat-form-field>
      </form>

      <button mat-raised-button color="primary" [disabled]="matchForm.invalid" (click)="createOrUpdate()">Create / Update</button>
      <a mat-button [routerLink]="['/admin/matches']">Cancel</a>

    </mat-card>
  </div>
</div>
