.match-container, .match-form {
  display: flex;
  flex-direction: column;
}

.full-container {
  display: flex;
  justify-content: center;
}

.match-card {
  display: flex;
  flex-direction: column;
}

.cursor-pointer {
  cursor: pointer;
}

.mat-radio-button {
  margin: 0 5px;
}

.padding-radio-bottom {
  padding-bottom: 20px;
}

.flag-mini{
  margin : 0 15px;
  border-style: solid;
  border-width: 1px;
  border-color: gainsboro;
}
