<div class="full-container">
  <div class="width-33"></div>
  <div class="register-container width-33">
    <h1>Register</h1>
    <form class="register-form" [formGroup]="registerForm" novalidate>
      <mat-form-field>
        <input type="text" name="firstName" matInput [(ngModel)]="model.firstName" formControlName="firstName"  placeholder="First name" required>
        <mat-error *ngIf="registerForm.controls['firstName'].errors">You must enter a value</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input type="text" name="lastName" matInput [(ngModel)]="model.lastName" formControlName="lastName" placeholder="Last name" required>
        <mat-error *ngIf="registerForm.controls['lastName'].errors">You must enter a value</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input type="text" name="email" matInput [(ngModel)]="model.email" formControlName="email" placeholder="Email (@capgemini.com)" required>
        <mat-error *ngIf="registerForm.controls['email'].errors">{{getErrorEmailMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input type="text" name="username" matInput [(ngModel)]="model.username" formControlName="username" placeholder="Username" required>
        <mat-error *ngIf="registerForm.controls['username'].errors">You must enter a value</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input type="password" name="password" matInput [(ngModel)]="model.password" formControlName="password" placeholder="Password" required>
        <mat-error *ngIf="registerForm.controls['password'].errors">You must enter a value</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input type="password" name="password2" matInput [(ngModel)]="passwordverification" formControlName="password2" placeholder="Retype password" required>
          <mat-error *ngIf="registerForm.controls['password2'].errors">You must enter a value</mat-error>
      </mat-form-field>
    </form>
    <div class="button-row">
      <a mat-button [routerLink]="['/login']">Cancel</a>
      <button mat-button [disabled]="registerForm.invalid" (click)="register()">Register</button>
    </div>
  </div>
  <div class="width-33"></div>
</div>
<!--
<div class="row justify-content-center">
  <div class="col-4">
    <alert></alert>
    <h2>Register</h2>
    <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" [ngClass]="{ 'is-invalid': f.submitted && !firstName.valid }" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" required />
            <div *ngIf="f.submitted && !firstName.valid" class="invalid-feedback">First Name is required</div>
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" [ngClass]="{ 'is-invalid': f.submitted && !lastName.valid }" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" required />
            <div *ngIf="f.submitted && !lastName.valid" class="invalid-feedback">Last Name is required</div>
        </div>
        <div class="form-group">
            <label for="email">E-mail</label>
            <input type="email" class="form-control" [ngClass]="{ 'is-invalid': f.submitted && !email.valid }" name="email" [(ngModel)]="model.email" #email="ngModel" required />
            <div *ngIf="f.submitted && !email.valid" class="invalid-feedback">E-mail is required</div>
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" [ngClass]="{ 'is-invalid': f.submitted && !username.valid }" name="username" [(ngModel)]="model.username" #username="ngModel" required />
            <div *ngIf="f.submitted && !username.valid" class="invalid-feedback">Username is required</div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" [ngClass]="{ 'is-invalid': f.submitted && !password.valid }" name="password" [(ngModel)]="model.password" #password="ngModel" required />
            <div *ngIf="f.submitted && !password.valid" class="invalid-feedback">Password is required</div>
        </div>
        <div class="form-group">
            <label for="passwordverification">Retype password</label>
            <input type="password" class="form-control" [ngClass]="{ 'is-invalid': password.valid && passwordverification != model.password }" name="passwordverification" [(ngModel)]="passwordverification"  required />
            <div *ngIf="password.valid && passwordverification != model.password" class="invalid-feedback">Password mismatch</div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">Register</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
        </div>
    </form>
  </div>
</div>-->
